@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
  }
  ul{
      margin-top:2rem;
      margin-bottom: 2rem;
  }
  #searchBar {
      width:30vw;
      margin-top:2rem;
      margin-bottom: 2rem;
  }
  #searchBar:hover{
      width:50vw;
  }
  .cart{
      margin-top:2rem;
      margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1200px){
  
  .style{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: auto;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
  
}
